

  .cuplikan{
    justify-content: center;
    border-radius: 20px;
  }

  video {
    border-radius: 20px;
  }

  .contain{
    padding: 25px;
    text-align: center;
  }

  .card-footerclr{
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(255, 255, 255, 0.125);
  }